<ng-container *ngIf="isAuthorized$ | async">
  <mat-list class="nav-menu">
    <ng-container *ngFor="let item of menuNavItems; let idx = index">
      <ng-container *ngIf="item.divider; else listItem">
        <hr />
      </ng-container>
      <ng-template #listItem>
        <mat-list-item class="nav-menu-item" (click)="onMenuItemClick(item)">
          <div>{{ item.title }}</div>
        </mat-list-item>
        <mat-divider class="nav-menu-devider"></mat-divider>
      </ng-template>
    </ng-container>
  </mat-list>
</ng-container>
