@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/theming';
@include mat-core();

$light-app-theme: mat-light-theme((color: (
  primary: mat-palette($mat-indigo),
  accent: mat-palette($mat-pink, A200, A100, A400),
  warn: mat-palette($mat-red),
)));

$dark-app-theme: mat-dark-theme((color: (
  primary: mat-palette($mat-pink),
  accent: mat-palette($mat-blue-gray, A200, A100, A400),
  warn: mat-palette($mat-red),
)));

@include angular-material-theme($light-app-theme);

body.dark {
  @include angular-material-color($dark-app-theme);
}

/* You can add global styles to this file, and also import other style files */

@layer components {
}

@layer utilities {
  .hide {
    display: none
  }

  .show {
    display: block;
  }
  @import './assets/tailwind-components/layout.scss';
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
