<div class="root-container" [class.root-is-mobile]="(isMobile$ | async)" >
  <mat-toolbar color="primary" class="root-toolbar">
    <button mat-icon-button (click)="toggleSideNavMenu()"><mat-icon>menu</mat-icon></button>
    <div class="root-app-name">
      <span class="flex-1">Vishengton Car Care</span>
      <ng-container *ngIf="profile$ | async as profile">
        <img class="rounded-full w-10 h-10" [src]="profile.photoURL" routerLink="profile">
      </ng-container>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="root-sidenav-container" [style.marginTop.px]="(isMobile$ | async) ? 56 : 0">
    <mat-sidenav #snav [mode]="(isMobile$ | async) ? 'over' : 'side'" [fixedInViewport]="(isMobile$ | async)" fixedTopGap="56">
      <vcc-left-side-nav (menuItemClick)="onMenuItemClick()"></vcc-left-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngIf="isAuthorized$ | async; else login">
        <div class="p-2 sm:p-4">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
      <ng-template #login>
        <div class="mt-20 flex flex-row justify-center items-center">
          <button mat-flat-button color="primary" (click)="signIn()">Sign In</button>
        </div>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


